.main {
  display: flex;
  flex-direction: row;

  .sidebar {
    width: 20%
  }

  .feed {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap:40px;

    .mediacard {
      width: 200px;
      height: 200px;
      border: 2px solid rgba(229, 25, 104, 1);
      border-radius: 15px;
      box-shadow: 0 4px 8px black;

      .mediacard-header {
        height: 20%;
        border-bottom: 1px solid rgba(229, 25, 104, 1);
      }

      .mediacard-body {
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}