.notification-button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-weight: bolder;
  font-size: 1rem;
  background-color:rgba(229, 25, 104, 1);
  //background-image: url("../../assets/notification.jpg");

  border: 1px solid rgba(113, 200, 30, 1);
  //box-shadow: 3px 3px 5px rgba(113, 200, 30, 1);
  border-radius: 20px;
}