header {
  display: flex;
  align-items: center;
  height: 20vh;
  border-bottom: 1px solid rgba(229, 25, 104, 1);

  .logo1 {
    flex: 1;

    img {
      width: 60%;
      height: auto;
    }
  }

  .logo2 {
    flex: 1.5;

    img {
      width: 100%;
      hight: auto;
      object-fit: cover;
    }
  }

  .user {
    flex: 1;
    font-weight: bolder;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:0.4rem;
  }
}